header, nav, main, footer {

    max-width: 60rem;
   
    margin: auto;
}
header {
    
    h1 {
        
        font-size: 2.5rem;  
        color: #0b090a;
    }   
    
      }
      nav ul li a {
        padding: .7rem 2rem;
        font-size: .8rem;
      }


      header h4 {font-size: 17px;}
  #phone {font-size: 17px;}

      // organizacion de tarjetas 

// termina organizacion