$primaryColor: #bfa89a;
$secondaryColor: #d3dddd;
$fontColor: #a4b5cd;
$hoverColor: #8b0015;
$decoColor: #171c1b;
$headerColor: #989678;
$coolColor: #e2e9eb;

$defaultFont: "Ojuju", sans-serif;

$textFont: "Quicksand", sans-serif;

$textFont: "Tajawal", sans-serif;

$lightWeight: 300;
$normalWeight: 500;
$boldWeight: 700;

$gutter:16px;